{% extends 'BladeTesterLightNewsBundle:Admin:base.html.twig' %}

{% block body %}
<form id="news-add" method="GET" action="{{ url('news_add') }}" {{ form_enctype(form) }}>
	{{ form_widget(form) }}
    <input type="submit" value="{{ 'bladetester_lightnews.label.news.add'|trans }}" />
</form>
{% endblock %}
